.DS_Store
.venv/
__pycache__/
*.pyc
.env
.env.*
!.env.example
!*.env.example
*.key
*.pem
*.crt
*_ca_key
ca.json
root_ca.sha256
*.password
bundles/
build/
db/
dist/
secrets/
*.tar
*.tar.gz
*.tar.zst
*.img
